AUTO_START = True         # 프로그램 자동 실행 여부
AUTO_CLOSE = True        # 모든 항목 성공 후 런처 자동 종료 여부
CONNECTION_TIMEOUT = 2   # 소켓 타임아웃
MAX_RETRY = 5            # 최대 재시도 횟수
RETRY_INTERVAL = 2       # 재시도 간격
AUTO_CLOSE_DELAY = 10    # 자동 종료 대기 시간
